{% extends 'base.html.twig' %}

{% block title %}MY Blog{% endblock %}
{% block body %}
    <style>
        .articles{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            padding: 16px 20px;
        }
        img{
            border-radius: 10px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.25);
            margin: 10px;
        }
    </style>
    <section class="articles mt-5" >
        <article class="mb-5">
            <h2>{{ article.title }}</h2>
            <div class="metadata" >
                created At {{ article.createdAt | date('d-m-y') }} at {{ article.createdAt | date('H:i') }}
                <span class="badge rounded-pill bg-danger">{{ article.category.title }}</span>
            </div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p>{{ article.content }}</p>
            </div>
        </article>
    </section>
    <a href="{{ path('article_edit',{'id':article.id}) }}" class="btn btn-success mt-5">Edit</a>
{% endblock %}